[user]
	name = Fol Bosun
	email = 30976147+folws@users.noreply.github.com
	sigingkey = 4C83FF3C3BEB57B4
[core]
	editor = nvim
	excludesfile = ~/.gitexcludes
[color]
	ui = true
[push]
	default = simple
[include]
	path = ~/.gitconfig_local
[merge]
	tool = vimdiff
[mergetool]
	prompt = true
	keepBackup = false
[mergetool "vimdiff"]
	cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[alias]
	s = status -sb
	sw = switch
	b = branch
	c = commit -v
	a = add
	re = restore
	l = pull
	p = push
	f = fetch
	mt = mergetool
	m = merge
	r = rebase
	lg = log --stat
	d = diff
	# log
	l = log --pretty=format:'%C(blue)%h%Creset %C(red)%G?%Creset %C(white)%s %C(yellow)(%cr) %C(cyan)%an%Creset - %C(magenta)%gd'
	los = log --graph --date=short --decorate

	changes = log --pretty=format:'[%C(blue)%h%Creset] %C(cyan)%an%Creset %C(yellow)%cr: %C(white)%s' --name-status

	changelog = log --pretty=format:' * %C(white)%s'
	lof = log --graph --pretty=format:'[%C(blue)%h%Creset] -%C(red bold)%d%Creset %C(cyan)%an%Creset %C(yellow)%cr: %C(white)%s' --abbrev-commit --date=relative
	lol = log --pretty=format:'[%C(blue)%h%Creset] %C(cyan)%an%Creset %C(yellow)%ar%Creset: %C(white)%s' --stat

[commit]
	gpgsign = true
[gpg]
	program = gpg2
