
let leader=" "

set smartcase
set scrolloff=3
set ideajoin
set surround
set commentary
set clipboard=unnamedplus,unnamed

nnoremap ,, :w!<cr>
nnoremap <leader><leader> :w!<cr>
nnoremap <leader>lr :action RenameElement<cr>
nnoremap <leader>lu :action FindUsages<cr>
nnoremap <leader>la :action GotoAction<cr>
nnoremap <leader>ld :action GotoDeclaration<cr>
