@import "main.rasi"

/* main as a sidebar on the left */
#window {
  border:           @border-size;
  padding:          20;
  width:            30%;
  height:           100%;
  x-offset:         0px;
  y-offset:         0px;
  location:         north west;
}
